/* Carousel */
.carousel-button {
  fill: var(--color-primary-dark);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  transition: border 0.2s ease, background-color 0.2s ease, fill 0.2s ease;
  cursor: pointer;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  width: 44px;
  height: 44px;

  &:hover {
    fill: var(--color-primary-light);
    border: none;
    background-color: var(--color-primary-normal);
  }

  &_next {
    transform: rotate(180deg);
  }
}
