/* Variables */
:root {
  --color-primary-light: #ffffff;
  --color-primary-normal: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-light: #747272;
  --color-secondary-dark: #011f4a;
}

$bp-desktop: '1200px';
$bp-tablet: '768px';
$bp-phone: '480px';